RosreestrTypes/XSD_Schemes/V06_TP/_AddressInp_v09.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!--Общие простые типы данных-->
	<xs:include schemaLocation="P_CommonSimpleTypeAll_v01.xsd"/>
	<!--КЛАССИФИКАТОРЫ И СПРАВОЧНИКИ:-->
	<!--Субъекты РФ-->
	<xs:include schemaLocation="dRegionsRF_v02.xsd"/>
	<!--ВЕРСИЯ 9:-->
	<xs:complexType name="tAddress">
		<xs:annotation>
			<xs:documentation>Адрес постоянного места жительства или преимущественного пребывания (в соответствии с ФИАС)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FIAS" type="sFIAS" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Уникальный номер адресообразующего элемента в государственном адресном реестре</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OKATO" type="OKATOType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ОКАТО</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="KLADR" type="sNe20">
				<xs:annotation>
					<xs:documentation>КЛАДР</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OKTMO" type="OKTMOType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ОКТМО</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PostalCode" type="PostalCodeRFType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Почтовый индекс</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RussianFederation" type="sRF" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Российская Федерация</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Region" type="dRegionsRF">
				<xs:annotation>
					<xs:documentation>Код региона</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="District" type="tName" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Район</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="City" type="tName" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Муниципальное образование</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UrbanDistrict" type="tName" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Городской район</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SovietVillage" type="tName" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сельсовет</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Locality" type="tName" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Населённый пункт</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PlanningElement" type="tName" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Элемент планировочной структуры</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Street" type="tName" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Улица</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Level1" type="tNumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дом</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Level2" type="tNumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Корпус</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Level3" type="tNumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Строение</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Apartment" type="tNumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Квартира</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Other" type="s2500" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Иное описание местоположения</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--Адрес объекта недвижимости в структурированном виде и дата последнего обновления записи в государственном адресном реестре-->
	<xs:complexType name="tAddressInp">
		<xs:annotation>
			<xs:documentation>Адрес (описание местоположения) до уровня населённого пункта</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FIAS" type="sFIAS" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Уникальный номер адресообразующего элемента в государственном адресном реестре</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OKATO" type="OKATOType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ОКАТО</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="KLADR" type="sNe20">
				<xs:annotation>
					<xs:documentation>КЛАДР</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OKTMO" type="OKTMOType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ОКТМО</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PostalCode" type="PostalCodeRFType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Почтовый индекс</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RussianFederation" type="sRF" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Российская Федерация</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Region" type="dRegionsRF">
				<xs:annotation>
					<xs:documentation>Код региона</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="District" type="tName" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Район</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="City" type="tName" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Муниципальное образование</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UrbanDistrict" type="tName" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Городской район</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SovietVillage" type="tName" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сельсовет</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Locality" type="tName" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Населённый пункт</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute ref="AddressOrLocation" use="required">
			<xs:annotation>
				<xs:documentation>Признак, позволяющий отличить присвоенный в установленном порядке адрес объекта недвижимости и описание местоположения объекта недвижимости (0-местоположение, 1-адрес)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="LastUpdate" type="xs:date">
			<xs:annotation>
				<xs:documentation>Дата последнего обновления записи в государственном адресном реестре</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="tAddressInpFull">
		<xs:annotation>
			<xs:documentation>Адрес (описание местоположения) объекта недвижимости</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="tAddressInp">
				<xs:sequence>
					<xs:element name="PlanningElement" type="tName" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Элемент планировочной структуры</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Street" type="tName" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Улица</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Level1" type="tNumberType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Дом</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Level2" type="tNumberType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Корпус</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Level3" type="tNumberType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Строение</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Apartment" type="tNumberType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Квартира</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Other" type="s2500" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Дополнительные сведения о местоположении (иное описание местоположения)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Note" type="s4000" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Неформализованное описание</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tAddressInpFlat">
		<xs:annotation>
			<xs:documentation>Адрес (описание местоположения) помещения</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="tAddressInpFull">
				<xs:sequence>
					<xs:element name="NumberRoom" type="s255" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Номер комнаты в квартире</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--Адрес объекта недвижимости в структурированном виде-->
	<xs:complexType name="tAddressInpLocation">
		<xs:annotation>
			<xs:documentation>Адрес (описание местоположения) до уровня населённого пункта</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FIAS" type="sFIAS" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Уникальный номер адресообразующего элемента в государственном адресном реестре</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OKATO" type="OKATOType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ОКАТО</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="KLADR" type="sNe20">
				<xs:annotation>
					<xs:documentation>КЛАДР</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OKTMO" type="OKTMOType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ОКТМО</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PostalCode" type="PostalCodeRFType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Почтовый индекс</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RussianFederation" type="sRF" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Российская Федерация</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Region" type="dRegionsRF">
				<xs:annotation>
					<xs:documentation>Код региона</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="District" type="tName" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Район</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="City" type="tName" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Муниципальное образование</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UrbanDistrict" type="tName" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Городской район</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SovietVillage" type="tName" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Сельсовет</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Locality" type="tName" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Населённый пункт</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute ref="AddressOrLocation" use="required"/>
	</xs:complexType>
	<xs:complexType name="tAddressInpFullLocation">
		<xs:annotation>
			<xs:documentation>Адрес (описание местоположения) объекта недвижимости</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="tAddressInpLocation">
				<xs:sequence>
					<xs:element name="PlanningElement" type="tName" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Элемент планировочной структуры</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Street" type="tName" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Улица</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Level1" type="tNumberType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Дом</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Level2" type="tNumberType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Корпус</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Level3" type="tNumberType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Строение</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Apartment" type="tNumberType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Квартира</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Other" type="s2500" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Дополнительные сведения о местоположении (иное описание местоположения)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Note" type="s4000" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Неформализованное описание</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--Признак, позволяющий отличить адрес и описание местоположения объекта недвижимости:-->
	<xs:attribute name="AddressOrLocation" type="sAddressOrLocation">
		<xs:annotation>
			<xs:documentation>Признак, позволяющий отличить присвоенный в установленном порядке адрес объекта недвижимости и местоположение объекта недвижимости (0-местоположение, 1-адрес)</xs:documentation>
		</xs:annotation>
	</xs:attribute>
	<xs:simpleType name="sAddressOrLocation">
		<xs:annotation>
			<xs:documentation>Адрес или местоположение (0 - местоположение, 1 - адрес)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="0">
				<xs:annotation>
					<xs:documentation>Местоположение объекта недвижимости</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="1">
				<xs:annotation>
					<xs:documentation>Присвоенный в установленном порядке адрес объекта недвижимости</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<!--Вспомогательные типы данных-->
	<xs:complexType name="tName">
		<xs:annotation>
			<xs:documentation>Наименование и тип адресного элемента</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Name" type="sNe255" use="required">
			<xs:annotation>
				<xs:documentation>Наименование</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Type" type="sNe255" use="required">
			<xs:annotation>
				<xs:documentation>Тип</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="tNumberType">
		<xs:annotation>
			<xs:documentation>Номерная часть адресного объекта</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Type" type="sNe255" use="required">
			<xs:annotation>
				<xs:documentation>Тип</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Value" type="sNe255" use="required">
			<xs:annotation>
				<xs:documentation>Значение</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:simpleType name="sRF">
		<xs:annotation>
			<xs:documentation>Российская Федерация</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="Российская Федерация"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
