RosreestrTypes/XSD_Schemes/V04_EXTRACT_FULL/04_EXTRACT_SBJ.XSD

<?xml version="1.0" encoding="windows-1251"?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by asd (asd) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- Подключение подсхемы "Виды документов и запрашиваемой информации"  -->
	<xs:include schemaLocation="dTypeInfo.xsd"/>
	<!--Подключение подсхемы Типы-->
	<xs:include schemaLocation="dRefusal.xsd"/>
	<!--Классификатор назначений объектов технического учета-->
	<xs:include schemaLocation="dAssignation.xsd"/>
	<!--Классификатор типов объектов недвижимости-->
	<xs:include schemaLocation="dRealty.xsd"/>
	<!-- Справочник субъектов РФ  -->
	<xs:include schemaLocation="dRegionsRF.xsd"/>
	<!-- Подключение подсхемы Документ   -->
	<xs:include schemaLocation="STD_Document.xsd"/>
	<!-- Подключение подсхемы Субъект -->
	<xs:include schemaLocation="STD_Subject.xsd"/>
	<!-- Подключение подсхемы Права -->
	<xs:include schemaLocation="STD_Rights.xsd"/>
	<!-- Подключение подсхемы АДРЕС  -->
	<xs:include schemaLocation="STD_Address.xsd"/>
	<!-- Подключение подсхемы Объекты долевого строительства-->
	<xs:include schemaLocation="STD_ShereHolding.xsd"/>
	<!-- Подключение подсхемы ОБЪЕКТ -->
	<xs:include schemaLocation="STD_Object.xsd"/>
	<!-- Подключение подсхемы Информация о документе -->
	<xs:include schemaLocation="STD_ServisInf.xsd"/>
	<!-- Подключение подсхемы Информация о запросе -->
	<xs:include schemaLocation="STD_ExtrAtribut.xsd"/>
	<!-- Подключение подсхемы Отказ по субъекту-->
	<xs:include schemaLocation="STD_Refusal.xsd"/>
	<xs:element name="Extract">
		<xs:annotation>
			<xs:documentation>Пакет информации - ответ на запрос сведений ЕГРП</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="eDocument" type="tServisInf">
					<xs:annotation>
						<xs:documentation>Электронный документ</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ReestrExtract">
					<xs:annotation>
						<xs:documentation>Выписка о правах отдельного лица на ОНИ</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="DeclarAttribute" type="tExtrAttribut">
								<xs:annotation>
									<xs:documentation>Информация о запросе</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="ExtractPeriod" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Период, за который запрошены сведения</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ExtractPeriodSDate" type="tDate" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Дата начала периода</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="ExtractPeriodEDate" type="tDate" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Дата окончания периода</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="ExtractSubjectRights" minOccurs="0">
								<xs:annotation>
									<xs:documentation>выписка об обобщенных правах субъекта</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="HeadContent" type="tHeadContent">
											<xs:annotation>
												<xs:documentation>Текстовое описание запроса</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="ExtractSubj" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>выписка об обобщенных правах субъекта</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Subject">
														<xs:annotation>
															<xs:documentation>описание запрошенного субъекта</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:complexContent>
																<xs:extension base="tSubject"/>
															</xs:complexContent>
														</xs:complexType>
													</xs:element>
													<xs:element name="HeadLast">
														<xs:annotation>
															<xs:documentation>Суммарное  описание запроса</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="2000"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="ObjectRight" maxOccurs="unbounded">
														<xs:annotation>
															<xs:documentation>Объект недвижимости</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:complexContent>
																<xs:extension base="tRightSubj">
																	<xs:attribute name="ObjectNumber"/>
																</xs:extension>
															</xs:complexContent>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="FootContent" type="tFootContent">
											<xs:annotation>
												<xs:documentation>Завершающийтекст (ссылка на закон и т.п.)</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="NoticeSubj" type="tNoticeSubj" minOccurs="0">
								<xs:annotation>
									<xs:documentation>уведомление об отсутствии сведений  об обобщенных правах субъекта</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="RefusalSubj" type="tRefusalSubj" minOccurs="0">
								<xs:annotation>
									<xs:documentation>отказ в выдаче выписки об обобщенных правах субъекта</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
